:root {
  --ff-base: "Red Hat Display", sans-serif;
  --ff-head: "Nunito", sans-serif;
  --shadow-primary: 0px 4px 10px rgba(37, 47, 63, 0.1);
  --shadow-light: 0 2px 6px 0 rgba(0, 0, 0, 0.05);
  --shadow-dark: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  --clr-primary-100: hsl(196deg, 69%, 40%);
  --clr-primary-200: hsl(196deg, 69%, 30%);
  --clr-primary-300: hsl(196deg, 69%, 16%);
  --clr-primary-400: hsl(196deg, 69%, 10%);
  --clr-primary-500: hsl(196deg, 69%, 5%);
  --clr-secondary-100: hsl(19deg, 84%, 80%);
  --clr-secondary-200: hsl(19deg, 84%, 70%);
  --clr-secondary-300: hsl(19deg, 84%, 54%);
  --clr-secondary-400: hsl(19deg, 84%, 40%);
  --clr-secondary-500: hsl(19deg, 84%, 30%);
  --clr-white-100: hsl(0deg, 0%, 100%);
  --clr-white-200: hsl(216deg, 20%, 95%);
  --clr-white-300: hsl(216deg, 20%, 69%);
  --clr-white-400: hsl(216deg, 20%, 50%);
  --clr-white-500: hsl(216deg, 20%, 40%);
  --clr-grey-100: hsl(220deg, 7%, 100%);
  --clr-grey-200: hsl(220deg, 7%, 90%);
  --clr-grey-300: hsl(220deg, 7%, 82%);
  --clr-grey-400: hsl(220deg, 7%, 70%);
  --clr-grey-500: hsl(220deg, 7%, 60%);
  --clr-black-100: hsl(0deg, 0%, 53%);
  --clr-black-150: hsl(220deg, 3%, 41%);
  --clr-black-200: hsl(0deg, 0%, 40%);
  --clr-black-300: hsl(0deg, 0%, 30%);
  --clr-black-400: hsl(0deg, 0%, 20%);
  --clr-black-500: hsl(0deg, 0%, 10%);
  --clr-black-600: hsl(0deg, 0%, 5%);
  --clr-black-700: hsl(0deg, 0%, 0%);
  --tr-time: .15s;
  --ts-ease: ease-in;
}

.btn {
  transition: all var(--tr-time) var(--ts-ease) 0s;
  background: var(--clr-secondary-300);
  border: 2px solid transparent;
  border-radius: 500px;
  color: var(--clr-white-100);
  display: flex;
  font-family: var(--ff-fbase);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  padding: 10px 30px;
}
.btn svg {
  margin: 6px 0 0 8px;
}
.btn:hover, .btn:focus {
  border-color: var(--clr-primary-300);
  box-shadow: inset 10em 0 0 0 var(--clr-primary-300);
  color: var(--clr-white-100);
  cursor: pointer;
}

:root {
  --sl-height-xl: 800px;
  --sl-br: 10px;
  --sl-br-img: 0 0 10px 10px;
  --sl-meta-p-xl: 40px 42px;
  --sl-meta-w-xl: 570px;
  --tr-time: .4s;
  --ts-ease: ease-out;
}

.components-page-Slider {
  margin-bottom: 125px;
}
.components-page-Slider .slick-slider .slick-prev,
.components-page-Slider .slick-slider .slick-next {
  transition: all var(--tr-time) var(--ts-ease) 0s;
  background: transparent;
  border: 1px solid var(--clr-black-150);
  border-radius: 100%;
  height: 50px;
  outline: none;
  position: absolute;
  bottom: 75px;
  transform: translateY(275px);
  width: 50px;
  z-index: 1;
}
.components-page-Slider .slick-slider .slick-prev svg,
.components-page-Slider .slick-slider .slick-next svg {
  transition: all var(--tr-time) var(--ts-ease) 0s;
  color: var(--clr-black-150);
  font-size: 24px;
  padding-top: 3px;
}
.components-page-Slider .slick-slider .slick-prev:hover,
.components-page-Slider .slick-slider .slick-next:hover {
  background: var(--clr-white-100);
  box-shadow: var(--bxs-base);
  border: 1px solid var(--clr-white-100);
}
.components-page-Slider .slick-slider .slick-prev:hover svg,
.components-page-Slider .slick-slider .slick-next:hover svg {
  color: var(--clr-secondary-300) !important;
}
.components-page-Slider .slick-slider .slick-prev:before,
.components-page-Slider .slick-slider .slick-next:before {
  display: none;
}
.components-page-Slider .slick-slider .slick-prev {
  left: 10%;
}
.components-page-Slider .slick-slider .slick-next {
  left: 15%;
}
.components-page-Slider .slick-slider .slick-list {
  border-radius: var(--sl-br-img);
  height: var(--sl-height-xl);
}
.components-page-Slider .slick-slider .slick-list .slick-track .slick-slide .slide figure img {
  border-radius: var(--sl-br-img);
}
.components-page-Slider .slick-slider .slick-list .slick-track .slick-slide .slide .meta {
  transition: all 0.15s ease-in 0s;
  background: var(--clr-white-100);
  border-radius: var(--sl-br);
  cursor: pointer;
  height: 325px;
  padding: var(--sl-meta-p-xl);
  position: absolute;
  bottom: -125px;
  right: 100px;
  width: var(--sl-meta-w-xl);
  z-index: 2;
}
.components-page-Slider .slick-slider .slick-list .slick-track .slick-slide .slide .meta:hover {
  box-shadow: var(--bxs-base);
}
.components-page-Slider .slick-slider .slick-list .slick-track .slick-slide .slide .meta h4 {
  color: var(--clr-secondary-300);
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 15px;
}
.components-page-Slider .slick-slider .slick-list .slick-track .slick-slide .slide .meta h3 {
  font-size: 32px;
  line-height: 125%;
}
.components-page-Slider .slick-slider .slick-list .slick-track .slick-slide .slide .meta h3::after {
  background: var(--clr-secondary-300);
  border-radius: 5px;
  content: "";
  display: block;
  height: 4px;
  margin: 10px 0 25px;
  width: 100px;
}
.components-page-Slider .slick-slider .slick-list .slick-track .slick-slide .slide .meta p {
  font-family: var(--ff-fbase);
  font-size: 16px;
  line-height: 175%;
  padding-right: 125px;
  word-spacing: 3px;
}
.components-page-Slider .slick-slider .slick-list .slick-track .slick-slide .slide .meta a.btn {
  position: absolute;
  right: -50px;
  bottom: 50px;
}

:root {
  --sm-size: 40px;
}

.social-media {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.social-media li a {
  align-items: center;
  background-color: var(--clr-white-200);
  border-radius: 50%;
  color: var(--clr-primary-300);
  display: flex;
  justify-content: center;
  height: var(--sm-size);
  line-height: var(--sm-size);
  position: relative;
  transition: all 0.3s;
  width: var(--sm-size);
}
.social-media li a:hover {
  background-color: var(--clr-primary-300);
  color: var(--clr-white-200);
}

:root {
  --nav-height: 80px;
  --nav-brand-height: auto;
  --nav-brand-width: 200px;
  --nav-sub-padding: 15px;
}

.front-layouts-navigation-Desktop {
  background: var(--clr-white-100);
  box-shadow: var(--shadow-primary);
  height: var(--nav-height);
}
.front-layouts-navigation-Desktop a.brand-logo figure img {
  height: var(--nav-brand-height);
  width: var(--nav-brand-width);
}
.front-layouts-navigation-Desktop nav > ul {
  align-items: center;
  display: flex;
  height: 100%;
}
.front-layouts-navigation-Desktop nav > ul > li {
  transition: all 0.25s ease-in 0s;
  transition: all 0.15s ease-in-out 0s;
  position: relative;
  display: flex;
  height: 100%;
  font-family: var(--ff-base);
  font-size: 1rem;
  font-weight: 500;
  margin: 0 15px;
}
.front-layouts-navigation-Desktop nav > ul > li:after {
  transition: all 0.15s ease-in-out 0s;
  background: var(--clr-primary-300);
  color: transparent;
  content: ".";
  height: 4px;
  margin: auto;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: 0%;
}
.front-layouts-navigation-Desktop nav > ul > li:hover:after {
  width: 100%;
}
.front-layouts-navigation-Desktop nav > ul > li:after {
  border-radius: 20px 20px 0 0;
}
.front-layouts-navigation-Desktop nav > ul > li:hover > a {
  color: var(--clr-primary-300);
}
.front-layouts-navigation-Desktop nav > ul > li a {
  transition: all 0.25s ease-in 0s;
  transition: all 0.15s ease-in-out 0s;
  position: relative;
  align-items: center;
  border-radius: 0 0 10px 10px;
  color: var(--clr-white-300);
  display: flex;
  font-size: var(--fs-base);
  height: 100%;
  z-index: 1;
}
.front-layouts-navigation-Desktop nav > ul > li a:after {
  transition: all 0.15s ease-in-out 0s;
  background: var(--clr-primary-300);
  color: transparent;
  content: ".";
  height: 4px;
  margin: auto;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: 0%;
}
.front-layouts-navigation-Desktop nav > ul > li a:hover:after {
  width: 100%;
}
.front-layouts-navigation-Desktop nav > ul > li a:after {
  border-radius: 20px 20px 0 0;
}
.front-layouts-navigation-Desktop nav > ul > li a:hover {
  color: var(--clr-primary-300);
}
.front-layouts-navigation-Desktop nav > ul > li ul {
  transition: all 0.25s ease-in 0s;
  background: var(--clr-white-100);
  border-radius: 0 0 10px 10px;
  box-shadow: var(--shadow-primary);
  flex-direction: column;
  opacity: 0;
  position: absolute;
  top: calc(var(--nav-height));
  min-width: 240px;
  padding: var(--nav-sub-padding) var(--nav-sub-padding) 0 var(--nav-sub-padding);
}
.front-layouts-navigation-Desktop nav > ul > li ul:before {
  background: var(--clr-white-100);
  content: "";
  height: 5px;
  margin-top: -20px;
  position: relative;
  left: -10px;
  width: calc(100% + var(--nav-sub-padding) * 2);
}
.front-layouts-navigation-Desktop nav > ul > li ul li {
  padding: 10px;
}
.front-layouts-navigation-Desktop nav > ul > li ul li a {
  transition: all 0.25s ease-in 0s;
}
.front-layouts-navigation-Desktop nav > ul > li ul li a:after {
  background: transparent !important;
}
.front-layouts-navigation-Desktop nav > ul > li ul li > ul {
  border-radius: 15px;
  opacity: 0 !important;
  padding-top: 5px;
  top: 30px;
  left: 180px;
  z-index: 2;
}
.front-layouts-navigation-Desktop nav > ul > li ul li:hover ul {
  opacity: 1 !important;
}
.front-layouts-navigation-Desktop nav > ul > li:hover ul {
  opacity: 1;
}
.front-layouts-navigation-Desktop .social-media {
  align-items: center;
  justify-content: flex-end;
}
.front-layouts-navigation-Desktop .social-media li {
  margin-left: 10px;
}

:root {
  --mb-height: 60px;
  --mb-button-size: 60px;
  --mb-bar-height: 3px;
  --mb-bar-width: .4;
  --mb-bar-spacing: 6px;
}

.front-layouts-navigation-Mobile {
  background: var(--clr-white-100);
  box-shadow: var(--shadow-primary);
  height: var(--mb-height);
  z-index: 1;
}
.front-layouts-navigation-Mobile a.brand-logo {
  padding-left: 18px;
}
.front-layouts-navigation-Mobile a.brand-logo figure img {
  height: auto;
  width: 175px;
}
.front-layouts-navigation-Mobile a.mburger {
  color: var(--clr-secondary-300);
}

:root {
  --st-height: 40px;
}

.front-layouts-site-Top {
  background: var(--clr-white-100);
  position: relative;
  z-index: 9;
}
.front-layouts-site-Top .contact-details {
  border-bottom: 1px solid var(--clr-grey-300);
  display: flex;
  flex-direction: row;
  height: var(--st-height);
  justify-content: flex-end;
  width: 100%;
}
.front-layouts-site-Top .contact-details li {
  align-items: center;
  display: flex;
  margin-right: 15px;
}
.front-layouts-site-Top .contact-details li svg {
  margin-right: 3px;
}
.front-layouts-site-Top .contact-details li a {
  transition: all 0.15s ease-in 0s;
  color: var(--clr-primary-300);
  font-size: 13px;
}
.front-layouts-site-Top .contact-details li a:hover {
  color: var(--clr-secondary-300);
}

:root {
  --tr-time: .15s;
  --ts-ease: ease-in-out;
}

.front-layouts-sub-Footer {
  background: var(--clr-white-100);
}
.front-layouts-sub-Footer > div {
  border-bottom: 1px solid var(--clr-grey-300);
  padding: 45px 0 90px;
}
.front-layouts-sub-Footer h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.front-layouts-sub-Footer nav ul {
  display: flex;
  flex-direction: column;
}
.front-layouts-sub-Footer nav ul li {
  margin: 5px 0px;
}
.front-layouts-sub-Footer nav ul li a {
  transition: all var(--tr-time) var(--ts-ease) 0s;
  color: var(--clr-black-500);
  font-size: 16px;
  height: 100%;
}
.front-layouts-sub-Footer nav ul li a:hover {
  color: var(--clr-secondary-300);
}
.front-layouts-sub-Footer nav ul li ul {
  display: none;
}
.front-layouts-sub-Footer .details {
  background: url("../../img/common/tijgerprint.svg") center center no-repeat var(--clr-secondary-300);
  background-size: 200% 200%;
  border-radius: 10px;
  box-shadow: var(--bxs-base);
  padding: 1.5rem 1.9rem;
  margin-top: -75px;
}
.front-layouts-sub-Footer .details h2 {
  color: var(--clr-white-100);
  font-size: 1.45rem;
}
.front-layouts-sub-Footer .details ul li {
  color: var(--clr-white-100);
  font-family: var(--ff-fbase);
  font-size: 0.99rem;
  letter-spacing: 0.025rem;
  line-height: 175%;
}
.front-layouts-sub-Footer .details ul li svg {
  margin-right: 10px;
}
.front-layouts-sub-Footer .details ul.contact {
  border-bottom: 2px dotted var(--clr-white-100);
  margin-bottom: 20px;
  padding-bottom: 30px;
}

:root {
  --hw-social: 35px;
  --fs-base: 16px;
  --tr-time: .15s;
  --ts-ease: ease-in-out;
}

.front-layouts-Footer {
  background: var(--clr-white-100);
}
.front-layouts-Footer .footer-top {
  padding: 30px 0;
}
.front-layouts-Footer .footer-top a.brand-logo figure img {
  height: 40px !important;
}
.front-layouts-Footer .footer-top .social-media {
  justify-content: flex-end;
}
.front-layouts-Footer .footer-top .social-media li {
  margin-left: 10px;
}
.front-layouts-Footer .footer-top .social-media li a {
  transition: all var(--tr-time) var(--ts-ease) 0s;
  align-items: center;
  background: var(--clr-white-300);
  border-radius: 50%;
  color: var(--clr-white-100);
  display: flex;
  height: var(--hw-social);
  justify-content: center;
  width: var(--hw-social);
}
.front-layouts-Footer .footer-top .social-media li a:hover {
  background: var(--clr-primary-300);
}
.front-layouts-Footer .footer-top .social-media li a svg {
  transition: all var(--tr-time) var(--ts-ease) 0s;
  color: var(--clr-white-100);
  font-size: 18px;
}
.front-layouts-Footer .copyright {
  border-top: 1px solid var(--clr-grey-300);
  padding: 40px 0;
}
.front-layouts-Footer .copyright nav ul {
  display: flex;
}
.front-layouts-Footer .copyright nav ul li {
  display: flex;
  margin-right: 40px;
}
.front-layouts-Footer .copyright nav ul li:last-of-type {
  margin: 0;
}
.front-layouts-Footer .copyright nav ul li a {
  transition: all var(--tr-time) var(--ts-ease) 0s;
  color: var(--clr-white-300);
  font-size: var(--fs-base);
}
.front-layouts-Footer .copyright nav ul li a:hover {
  color: var(--clr-primary-300);
}
.front-layouts-Footer .copyright p {
  color: var(--clr-white-300);
  letter-spacing: 0.005rem;
}

:root {
  --mm-color-background: var(--clr-white-100);
  --mm-color-border: #DDD;
  --mm-color-text: var(--clr-primary-300);
  --mm-color-text-dimmed: var(--clr-primary-300);
  --mm-color-button: var(--clr-secondary-300);
}

#mobile-menu:not(.mm-menu) {
  display: none;
}

.mm-wrapper .mm-menu .mm-panels .mm-navbar .mm-navbar__title {
  font-family: var(--ff-base);
  font-size: 16px;
  font-weight: 500;
}
.mm-wrapper .mm-menu .mm-panels .mm-listview {
  font-family: var(--ff-base);
  font-size: 16px;
  font-weight: 500;
}
.mm-wrapper .mm-menu .mm-panels .mm-listview .mm-listitem:after {
  left: 0;
}

/*
! tailwindcss v3.0.24 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: #e5e7eb; /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
*/

html {
  line-height: 1.5; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 4 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0; /* 1 */
  line-height: inherit; /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
  border-top-width: 1px; /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font family by default.
2. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
  border-collapse: collapse; /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: inherit; /* 1 */
  color: inherit; /* 1 */
  margin: 0; /* 2 */
  padding: 0; /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button; /* 1 */
  background-color: transparent; /* 2 */
  background-image: none; /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block; /* 1 */
  vertical-align: middle; /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/*
Ensure the default browser behavior of the `hidden` attribute.
*/

[hidden] {
  display: none;
}

*, ::before, ::after {
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}
.container {
  width: 100%;
}
@media (min-width: 640px) {

  .container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {

  .container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {

  .container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {

  .container {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {

  .container {
    max-width: 1536px;
  }
}
.static {
  position: static;
}
.fixed {
  position: fixed;
}
.relative {
  position: relative;
}
.top-0 {
  top: 0px;
}
.right-0 {
  right: 0px;
}
.float-right {
  float: right;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.mx-0 {
  margin-left: 0px;
  margin-right: 0px;
}
.mb-4 {
  margin-bottom: 1rem;
}
.mb-2 {
  margin-bottom: 0.5rem;
}
.mb-3 {
  margin-bottom: 0.75rem;
}
.mt-2 {
  margin-top: 0.5rem;
}
.mt-5 {
  margin-top: 1.25rem;
}
.mr-2 {
  margin-right: 0.5rem;
}
.mt-3 {
  margin-top: 0.75rem;
}
.mr-1 {
  margin-right: 0.25rem;
}
.mb-5 {
  margin-bottom: 1.25rem;
}
.mt-4 {
  margin-top: 1rem;
}
.ml-3 {
  margin-left: 0.75rem;
}
.mt-1 {
  margin-top: 0.25rem;
}
.ml-1 {
  margin-left: 0.25rem;
}
.ml-2 {
  margin-left: 0.5rem;
}
.ml-4 {
  margin-left: 1rem;
}
.mt-8 {
  margin-top: 2rem;
}
.ml-12 {
  margin-left: 3rem;
}
.-mt-px {
  margin-top: -1px;
}
.mb-1 {
  margin-bottom: 0.25rem;
}
.flex {
  display: flex;
}
.table {
  display: table;
}
.grid {
  display: grid;
}
.hidden {
  display: none;
}
.h-full {
  height: 100%;
}
.h-5 {
  height: 1.25rem;
}
.h-8 {
  height: 2rem;
}
.h-16 {
  height: 4rem;
}
.min-h-screen {
  min-height: 100vh;
}
.w-full {
  width: 100%;
}
.w-1\/4 {
  width: 25%;
}
.w-1\/3 {
  width: 33.333333%;
}
.w-3\/12 {
  width: 25%;
}
.w-6\/12 {
  width: 50%;
}
.w-5 {
  width: 1.25rem;
}
.w-8 {
  width: 2rem;
}
.w-auto {
  width: auto;
}
.w-1\/2 {
  width: 50%;
}
.w-2\/12 {
  width: 16.666667%;
}
.max-w-screen-xl {
  max-width: 1280px;
}
.max-w-xl {
  max-width: 36rem;
}
.max-w-6xl {
  max-width: 72rem;
}
.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
.flex-col {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.items-center {
  align-items: center;
}
.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.overflow-hidden {
  overflow: hidden;
}
.border {
  border-width: 1px;
}
.border-t {
  border-top-width: 1px;
}
.border-r {
  border-right-width: 1px;
}
.border-gray-200 {
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity));
}
.border-gray-400 {
  --tw-border-opacity: 1;
  border-color: rgb(156 163 175 / var(--tw-border-opacity));
}
.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
.bg-gray-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}
.p-0 {
  padding: 0px;
}
.p-1 {
  padding: 0.25rem;
}
.p-6 {
  padding: 1.5rem;
}
.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}
.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.pb-3 {
  padding-bottom: 0.75rem;
}
.pt-8 {
  padding-top: 2rem;
}
.text-center {
  text-align: center;
}
.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.font-semibold {
  font-weight: 600;
}
.uppercase {
  text-transform: uppercase;
}
.leading-7 {
  line-height: 1.75rem;
}
.tracking-wider {
  letter-spacing: 0.05em;
}
.text-gray-200 {
  --tw-text-opacity: 1;
  color: rgb(229 231 235 / var(--tw-text-opacity));
}
.text-gray-300 {
  --tw-text-opacity: 1;
  color: rgb(209 213 219 / var(--tw-text-opacity));
}
.text-gray-400 {
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity));
}
.text-gray-500 {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}
.text-gray-600 {
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity));
}
.text-gray-700 {
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity));
}
.text-gray-900 {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity));
}
.underline {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}
.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.shadow {
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  background: var(--clr-white-200);
  display: flex;
  flex-direction: column;
  font-family: var(--ff-base);
  font-size: 14px;
  min-height: 100vh;
}
body #page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
body main {
  flex: 1;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  color: var(--clr-primary-300);
  font-family: var(--ff-head);
  font-weight: 900;
}
@media (prefers-color-scheme: dark) {

  .dark\:bg-gray-900 {
    --tw-bg-opacity: 1;
    background-color: rgb(17 24 39 / var(--tw-bg-opacity));
  }
}
@media (min-width: 640px) {

  .sm\:items-center {
    align-items: center;
  }

  .sm\:justify-start {
    justify-content: flex-start;
  }

  .sm\:px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .sm\:pt-0 {
    padding-top: 0px;
  }
}
@media (min-width: 768px) {

  .md\:hidden {
    display: none;
  }
}
@media (min-width: 1024px) {

  .lg\:static {
    position: static;
  }

  .lg\:block {
    display: block;
  }

  .lg\:px-8 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
