.components-auth-Layout .auth-side-wrapper {
  height: 100%;
  background-position: center center;
  background-size: cover;
  width: auto;
}
.components-auth-Layout .alert ul {
  margin: 0;
  padding: 0;
}
.components-auth-Layout .alert ul li {
  list-style: none;
}
.components-auth-Layout .auth-form-wrapper .noble-ui-logo figure img {
  height: auto;
  width: 60% !important;
}

.table-responsive {
  overflow: hidden;
}
.table-responsive .actionHandler {
  width: 70px !important;
}
.table-responsive .published {
  width: 40px !important;
}
.table-responsive .btn {
  border-radius: 50% !important;
  margin-right: 5px !important;
  height: 30px !important;
  width: 30px !important;
}
.table-responsive .btn svg {
  color: #FFF;
  height: 12px !important;
}
.table-responsive .dataTables_wrapper.dt-bootstrap4 .dataTables_length select {
  width: 50px !important;
}
.table-responsive .col-sm-12 {
  padding-left: 0 !important;
}
.table-responsive .col-sm-12 .dataTable {
  margin-bottom: 25px !important;
}
.table-responsive .col-sm-12 .dataTable th,
.table-responsive .col-sm-12 .dataTable td {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  vertical-align: baseline;
}
.table-responsive .col-sm-12 .dataTable th .btn,
.table-responsive .col-sm-12 .dataTable td .btn {
  border-radius: 50% !important;
  margin-right: 5px !important;
  height: 30px !important;
  width: 30px !important;
}
.table-responsive .col-sm-12 .dataTable th .btn svg,
.table-responsive .col-sm-12 .dataTable td .btn svg {
  color: #FFF;
  height: 12px !important;
}
.table-responsive .col-sm-12 ul.pagination {
  font-size: 12px !important;
}

.dropify-container .dropify-wrapper .dropify-message .file-icon:before {
  display: none;
}

form.form-content span.required {
  color: rgb(101, 113, 255);
}
form.form-content .form-submit {
  position: fixed;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.75);
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: flex-end;
  padding: 15px;
  border-top: 1px solid #EEE;
  z-index: 2;
}

.swal2-actions .swal2-styled {
  border: 0 !important;
  box-shadow: none !important;
}

.admin-layouts-Sidebar .sidebar-header a.sidebar-brand {
  width: 75%;
}
.admin-layouts-Sidebar .sidebar-header a.sidebar-brand figure {
  margin: 0;
}
.admin-layouts-Sidebar .sidebar-header a.sidebar-brand figure img {
  height: auto;
  margin: 0 0 0 -10px;
  width: 100% !important;
}

.svg.icon-md {
  height: 16px !important;
  width: 16px !important;
}

a {
  transition: all 0.15s ease-in 0s !important;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
  padding: 0;
}

textarea {
  height: 125px !important;
  resize: none !important;
  line-height: 150% !important;
  word-spacing: 2px !important;
}
